@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 51%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

header {
  width: 100%;
  position: absolute;
}

header .header-logo {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

header div h1 { font-size: 35px; }
header div h1 a { color: #FDFEFE;}

header div h1::after {
  content: "\f054";
  display: inline-block;
  position: absolute;
  top: 24px;
  color: #2978BD;
  font-family: "FontAwesome";
  font-size: 20px;
  transform: rotate(314deg);
}

header form input { 
  padding: 7px 34px 7px 15px;
  border: 1px solid #369FE3;
}

header form input::placeholder { 
  color: #878787;
  font-size: 12px;
}

header form button {
  border: 1px solid #369FE3;
  padding: 7px 15px;
  margin-left: -6px;
  display: inline-block;
  background-color: #369FE3;
  color: #E8F5FC;
}

header form button::first-letter { text-transform: capitalize; }

header .menu .bar { text-indent: -9999px; }
.hamburger { display: none; }

header nav ul { 
  padding: 7px;
  margin-top: 47px;
  background-color: #2978BD;
}

header ul li {
  height: 17px;
  padding: 3px 10px;
  border-right: 2px solid #389FD9;
  font-size: 13px;
  text-transform: capitalize;
}

header ul li:last-child { border-right: none; }
header ul li a { color: #EAF2F8;}



/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

.banner .wrapper {
  max-width: 1518px;
  width: 100%;
}

.banner .wrapper div {
  width: 27%;
  display: inline-block;
  position: absolute;
  top: 310px;
  left: 38%;
  transform: translate(-50%, -50%);
}

.banner .wrapper div h3 {
  margin-bottom: 16px;
  color: #EBF4FC;
  font-size: 30px;  
}

.banner .wrapper div p {
  color: #78D3FC;
  font-size: 26px;
}

.banner .wrapper div h3::first-letter,
.banner .wrapper div p::first-letter { text-transform: capitalize; }

.form-section ul { margin: 30px 0 25px; }

.form-section ul li a::first-letter,
.form-section h3::first-letter,
.form-section form label { text-transform: capitalize; }

.form-section ul li { font-size: 11px; }
.form-section ul li a { color: #69727E; }
.form-section ul li:last-child a{ font-weight: bold; }

.form-section ul li::after {
  content: "\f105";
  padding: 0 10px;
  font-family: "FontAwesome";
}

.form-section::before {
  content: "\f139";
  margin-right: 2%;
  position: absolute;
  top: 709px;
  right: 1%;
  color: #9F9F9F;
  font-family: "FontAwesome";
  font-size: 40px;
}

.form-section ul li:last-child::after { content: ""; }

.form-section h3 {
  margin-bottom: 18px;
  color: #5E78B4;
  font-size: 25px;
}

.form-section div { margin-bottom: 20px; }

.form-section form label {
  margin-bottom: 8px;
  display: block;
  color: #7E696E;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
}

.form-section form input {
  width: 31%;
  height: 28px;
  border: 3px solid #D7D7D7;
  border-radius: 4px;
  cursor: pointer;
}

.form-section form select {
  width: 32%;
  height: 33px;
  background-color: #369FE3;
  color: #fff;
  cursor: pointer;
}

/* .form-section form select::after {
  content: "\f0d8";
  font-family: "FontAwesome";
  color: #000;
} */

.form-section form p {
  margin: 20px 0 28px;
  color: #747474;
  font-size: 12px;
  font-weight: bold;
}

.form-section form p::first-letter { text-transform: capitalize; }
.form-section .checkbox { margin-bottom: -12px; }

.form-section .checkbox input { 
  width: 1.8%;
  border: 1px solid #E4E4E4; 
}

.form-section .checkbox label {
  margin-top: 10px;
  display: inline-block;
  vertical-align: top;
}

.form-section form p a { color: #6CB3E8; }

.form-section form div:last-child input {
  width: 19%;
  height: 32px;
  border: 1px solid #369FE3;
  display: block;
  background-color: #369FE3;
  color: #CBE6F3;    
}

.form-section form div:last-child { margin-bottom: 115px; }
.form-section.success input { border-color: #2ecc71;}
.form-section.error input { border-color: #e74c3c;}

.form-section small {
  display: inherit;
  font-size: 13px;
  visibility: hidden;
}


/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

footer { background-color: #174583; }

.footer-top .wrapper {
  padding: 31px 0 10px;
  display: flex;
}

.footer-top::after {
  content: "\f139";
  margin-right: 2%;
  display: flex;
  justify-content: flex-end;
  color: #15254D;
  font-family: "FontAwesome";
  font-size: 40px;
}

footer .logo::after {
  content: "\f054";
  display: inline-block;
  position: absolute;
  color: #2978BD;
  font-family: "FontAwesome";
  font-size: 20px;
  transform: rotate(314deg);
}

footer .logo { width: 35%; }
footer .logo a { color: #fff; }

footer .logo a span {
  padding: 5px 0;
  border-bottom: 2px solid #2367A8;
  display: block;
  font-size: 30px;
  text-transform: capitalize;
}

footer .logo a p { 
  margin-top: 4px;
  color: #B0C3DB;
  font-size: 13px; 
}

.logo a p span {
  border-bottom: none ;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
}

.footer-links {
  width: 37%;
  padding: 10px;
}

.footer-links li:nth-child(1) {
  margin-bottom: 17px;
  display: block;
  color: #D9E9F3;
  font-size: 14px;
  text-transform: capitalize;
}

.footer-links li {
  margin-bottom: 4px;
  display: block;
  font-size: 13px;
  text-transform: capitalize;
}

.footer-links li a { color: #D9E9F3; }
.icon-list { width: 37%; }

.icon-list li:nth-child(1) {
  padding: 0;
  border-radius: 0;
  margin: 10px 0 20px;
  display: block;
  background-color: transparent;
  color: #D9E9F3;
  font-size: 14px;
}

.icon-list li:nth-child(1)::first-letter { text-transform: capitalize; }

.icon-list li a { text-indent: -9999px; }
.icon-list li:nth-child(2) { margin-left: 0; }

.icon-list li { 
  padding: 7px 9px;
  border-radius: 50%;
  margin-left: 5%; 
  background-color: #fff;  
}

.icon-list li a::before {
  font-family: "FontAwesome";
  font-size: 20px;
  float: left;
  text-indent: 0;
}

.linkedin::before { 
  content: "\f0e1"; 
  color: #297CB7;
}

.twitter::before { 
  content: "\f099";
  color: #39A1F2;
}

.play::before { 
  content: "\f04b"; 
  color: #F62100;
}

.facebook::before {
  content: "\f09a"; 
  color: #4161A3;
}

.footer-bottom { background-color: #0F3364; }

.footer-bottom .wrapper {
  padding: 8px 0;
  display: flex;
  justify-content: space-between;
}

.footer-bottom li {
  padding: 0 5px;
  border-right: 1px solid #CDD6E2;
  font-size: 10px;
}

.footer-bottom li:last-child { border-right: none; }
.footer-bottom li a { color: #A3C8D4; }
.footer-bottom li a::first-letter { text-transform: capitalize; }

.footer-bottom p {
  color: #98C4DB;
  font-size: 11px;
  text-transform: capitalize;
}


 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 1200px) {

  header ul li { font-size: 11px; }
  .banner .wrapper div h3 { font-size: 26px; }
  .banner .wrapper div p { font-size: 21px; }

}  
@media only screen and (max-width: 1024px) {

  header ul li { padding: 0 5px; }
  .banner .wrapper div { top: 266px; }
  .banner .wrapper div h3 { font-size: 20px; }
  .banner .wrapper div p { font-size: 17px; }

  .footer-top .wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }

  footer .logo {
    width: 69%;
    margin-bottom: 20px;
    text-align: center;
  }

  .footer-bottom .wrapper {
    flex-direction: column;
    text-align: center;
  }

  .footer-bottom ul { margin-bottom: 10px; }

}  
@media only screen and (max-width: 995px) {

  /* header start */

  .hamburger {
    width: 64%;
    height: 25px;
    padding-bottom: 20px;
    margin: 0 3% 0 2%;
    display: flex;
    cursor: pointer;
    transition: all .5s ease-in-out; 
  }

  .bar {
    width: 3%;
    height: 4px;
    border-radius: 5px;
    margin-top: 11px;
    position: absolute;
    top: 38px;
    background: #000;
    transition: all .5s ease-in-out;
  }

  .menu ul .show { display: block; }
  .bar.ham-active { display: none; }

  .bar::before,
  .bar::after {
    content: "";
    width: 98%;
    height: 4px;
    border-radius: 5px;
    position: absolute;
    left: 1%;
    transition: all .5s ease-in-out;
    background: #000;
  }

  .bar::before { 
    top: -8px;
    transform: translateY(7px);
    transition: 0.6s ease;
  }

  .bar::after { 
    top: 8px; 
    transform: translateY(-7px);
  }

  .bar.ham-active::after { transform: rotate(45deg); }
  .bar.ham-active::before { transform: rotate(-45deg); }

  .menu ul {
    width: 98.4%;
    height: auto;
    position: absolute;
    top: 26px;
    left: -100%;
    z-index: 5;
    background: #46525C;
    text-align: left;
    transition: 1s;
  }

  .menu ul li {
    border-right: none;
    margin: 10px 0;
    display: block;
    font-size: 13px;
    text-align: center;
  }

  .menu {
    width: 8%;
    height: 35px;
    float: right;
  }

  .menu ul li a { color: #fff; }
  .menu:hover nav ul { left: 0; }
  .header-logo form { display: none; }

  /* header end */

  /* main start */

  .form-section h3 { font-size: 20px; }
  .form-section form input { width: 44%; }
  .form-section form label { font-size: 13px; }
  .form-section form select { width: 46%; }
  .form-section .checkbox input { width: 2.8%; }
  .form-section form p { font-size: 13px; }
  .form-section::before { top: 533px; }

  /* main end */

}  
@media only screen and (max-width: 768px) {

  header .wrapper,
  .form-section .wrapper,
  footer .wrapper { width: 70%; }

  header div h1 { font-size: 28px; }
  .bar { width: 4%; }
  .menu ul { width: 98%; }
  
  header ul li {
    margin: 6px 0;
    font-size: 11px;
  }

  .banner .wrapper div { top: 200px; }
  .banner .wrapper div h3 { font-size: 14px; }
  .banner .wrapper div p { font-size: 12px;}

}  
@media only screen and (max-width: 504px) {

  header .wrapper, 
  .form-section .wrapper, 
  footer .wrapper { width: 77%; }

  header div h1 { font-size: 24px; }

  .bar {
    width: 5%; 
    margin-top: 3px;
  }

  .menu ul { 
    width: 100%;
    top: 11px;
  }

  header nav ul { padding: 0; }
  .banner .wrapper div { width: 50%; }
  .banner .wrapper div { top: 126px; }
  .banner .wrapper div h3 { margin-bottom: 9px; }
  .form-section h3 { font-size: 18px; }
  .form-section form input { width: 63%; }
  .form-section form select { width: 65%; }
  .form-section form div:last-child input { width: 25%; }
  footer .logo { width: 100%; }

  .footer-links,
  .icon-list {
    width: 100%;
    text-align: center;
  }

  .footer-top::after { font-size: 30px; }

  .form-section::before { 
    top: 400px;
    font-size: 30px;
  }

} 
@media only screen and (max-width: 480px) {
  
  .footer-bottom li { font-size: 9px; }

}  
@media only screen and (max-width: 375px) {

  header .wrapper, 
  .form-section .wrapper, 
  footer .wrapper { width: 85%; }

  header .header-logo { margin-top: 19px; }
  header div h1::after { top: 12px; }
  header div h1 { font-size: 20px; }

  .bar {
    width: 6%;
    height: 2px;
    margin-top: -9px;
  }

  .bar::before, 
  .bar::after { height: 2px; } 

  .banner .wrapper div { 
    width: 59%;
    top: 89px; 
  }

  .banner .wrapper div h3 { font-size: 12px; }
  .banner .wrapper div p { font-size: 8px; }
  
}  
@media only screen and (max-width: 320px) {

  .banner .wrapper div { top: 80px; }
  .form-section h3 { font-size: 15px; }

}  


@media only screen and (min-width: 996px) {
  /* header start */

  header div h1 a:hover,
  header ul li a:hover {
    color: #369FE3;
    transition: 1s;
  }

  header form button:hover {
    background-color: #878787;
    color: #fff;
    transition: 1s;
  }

  /* header end */

  /* main start */

 form div:last-child input:hover {
   background-color: #69727E;
   border: 1px solid #69727E;
   transition: 1s;
 }

 .form-section:hover::before {
   color: #4161A3;
   transition: 1s;
 }

  /* main end */

  /* footer start */

  footer .logo a:hover,
  .footer-links li a:hover {
    color: #95a3b4;
    transition: 1s;
  }

  .icon-list li a:hover::before { 
    color: #747474;
    transition: 1s;
  }

  .footer-bottom li a:hover {
    color: #fff;
    transition: 1s;
  }

  .footer-top:hover::after {
    color: #747474;
    transition: 1s;
  }
  
  /* footer end */


}  