@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 51%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

header {
  width: 100%;
  position: absolute;
}

header .header-logo {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

header div h1 { font-size: 35px; }
header div h1 a { color: #FDFEFE;}

header div h1::after {
  content: "\f054";
  display: inline-block;
  position: absolute;
  top: 24px;
  color: #2978BD;
  font-family: "FontAwesome";
  font-size: 20px;
  transform: rotate(314deg);
}

header form input { 
  padding: 7px 34px 7px 15px;
  border: 1px solid #369FE3;
}

header form input::placeholder { 
  color: #878787;
  font-size: 12px;
}

header form button {
  border: 1px solid #369FE3;
  padding: 7px 15px;
  margin-left: -6px;
  display: inline-block;
  background-color: #369FE3;
  color: #E8F5FC;
}

header form button::first-letter { text-transform: capitalize; }

header .menu .bar { text-indent: -9999px; }
.hamburger { display: none; }

header nav ul { 
  padding: 7px;
  margin-top: 47px;
  background-color: #2978BD;
}

header ul li {
  height: 17px;
  padding: 3px 10px;
  border-right: 2px solid #389FD9;
  font-size: 13px;
  text-transform: capitalize;
}

header ul li a { color: #EAF2F8;}



/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

.banner .wrapper {
  max-width: 1518px;
  width: 100%;
}

.banner .wrapper div {
  width: 27%;
  display: inline-block;
  position: absolute;
  top: 310px;
  left: 38%;
  transform: translate(-50%, -50%);
}

.banner .wrapper div h3 {
  margin-bottom: 16px;
  color: #EBF4FC;
  font-size: 30px;  
}

.banner .wrapper div p {
  color: #78D3FC;
  font-size: 26px;
}

.banner .wrapper div h3::first-letter,
.banner .wrapper div p::first-letter { text-transform: capitalize; }

.form-section ul { margin: 30px 0 25px; }

.form-section ul li a::first-letter,
.form-section h3::first-letter,
.form-section form label { text-transform: capitalize; }

.form-section ul li { font-size: 11px; }
.form-section ul li a { color: #69727E; }
.form-section ul li:last-child a{ font-weight: bold; }

.form-section ul li::after {
  content: "\f105";
  padding: 0 10px;
  font-family: "FontAwesome";
}

.form-section ul li:last-child::after { content: ""; }

.form-section h3 {
  margin-bottom: 18px;
  color: #5E78B4;
  font-size: 25px;
}

.form-section div { margin-bottom: 20px; }

.form-section form label {
  margin-bottom: 8px;
  display: block;
  color: #7E696E;
  font-size: 12px;
  font-weight: bold;
}

.form-section form input {
  width: 31%;
  height: 28px;
  border: 3px solid #D7D7D7;
  border-radius: 4px;
}

.form-section form select {
  width: 32%;
  height: 33px;
  background-color: #369FE3;
  color: #fff;
}

/* .form-section form select::after {
  content: "\f0d8";
  font-family: "FontAwesome";
  color: #000;
} */

.form-section form p {
  color: #747474;
  font-size: 12px;
  font-weight: bold;
}

.form-section form p::first-letter { text-transform: capitalize; }











/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  

@media only screen and (min-width: 996px) {
  /* header start */

  header div h1 a:hover,
  header ul li a:hover {
    color: #369FE3;
    transition: 1s;
  }

  header form button:hover {
    background-color: #878787;
    color: #fff;
    transition: 1s;
  }
  



  /* header end */


}  